* {
	margin: 0;
	padding: 0;
}
body {
	height: 500px;
	/* width :90%; */
	margin: auto;
	padding: auto;
	display: block;
	background: gold;
	background-color: cyan;
}
#titulo{
	height: auto;
	background-color: rgba(255,255,255,.7);
	padding: 3px 10px;
	margin:0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)}
}
nav {
	background-color: transparent;
	height: 50px;
	padding: 20px 0 0;
	font-size: 20px;
	font-family: "Courier New";
	font-style: italic;
	text-align: center;


}
nav a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 50px;
	color: purple;

}
section div{
	height: 500px;
	display: inline-block;
	width:49%;


}

section div img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-height: 300px;

}

footer{
	background-color: #e36662;
	font-weight: bold;
	letter-spacing: 0.05em;
	color: #010002;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 30px 0px;
}

p{
	text-align: center;
	font-family: "Courier New";
}

h1{
	text-align: center;
	font-family: "Courier New";
}

.row {
	width: 100%;
	height: 100vh;
}

.col {
	width: 50%;
	height: 100vh;
	float: left;
}

.col-gifs ul{
	margin: 0;
	padding: 0;
	max-height: 100vh;
	overflow: hidden;
}

.col-gifs ul li{
	display: block;
	max-height: 33.33vh;
	position: relative;
  overflow: hidden;
}

.col-gifs ul li a{
	display: block;
}

.col-gifs .gif{
	display: block;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	top: -107.5px;
}


.col-info {
	position: relative;
	background-color:	#CDBAAE;
}
